@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --bg-color: #101010;
  --side-color: #181818;
  --icon-img: #393939;
  --input-img: #2c2c2c;
  --h3-fill: #e4e4e4;
  --border-bottom: 2px solid #616161;
  --close-button: #929292;
  --input-color: #f8f8f8;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter",sans-serif;
}
body{
  background-color: var(--bg-color);
}
header{
  background-color: var(--side-color);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

}
.first-header{
  display: flex;
  flex-direction: row;
  color: var(--h3-fill);
  align-items: center;
  gap: 0.5rem;
  
}
.first-header > div{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.first-header > div div,.two-grid > div,.thick{
  font-size: 0.7rem;
  background-color: var(--input-img);
  width: auto;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 0.3rem;
  font-weight: bold;
  color: var(--h3-fill);

}
.thick{
  text-wrap: nowrap;
}
.first-header input{
  outline: none;
  background-color: transparent;
  border: none;
  border-left: 2px solid var(--side-color);
  font-size: inherit;
  padding-left: 0.5rem;
  width: 100px;
  color: var(--input-color);
}
.second-header{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.second-header button{
  height: 50px;
  width: 45px;
  background-color: var(--icon-img);
  border-radius: 0.1rem;
  border: none;
  position: relative;

}
.second-header button::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--input-color) ;

}
.second-header button:first-child::before{
  width: 27px;
  height: 32px;
}
.second-header button:last-child::before{
  width: 32px;
  height:27px ;
}
header select{
  height: 40px;
  outline: none;
  background-color: var(--icon-img);
  border: none;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  color: var(--h3-fill);
}

main{
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.leftSidebar{
  background-color: var(--side-color);
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.leftSidebar > button{
  width: 40px;
  height: 40px;
  border-radius: 0.3rem;
  background-color: var(--icon-img);
  padding: 0.6rem;
  border: none;
}

.leftSidebar > button img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.leftSidebar .active {
  border: 2px solid var(--icon-img);
  background-color: var(--side-color);
}
#propertiesTab{
  width: 400px;
  background-color: var(--side-color);
  height: 100%;
  overflow-y: auto;
}
#propertiesTab::-webkit-scrollbar{
  width: 5px;

}
#propertiesTab::-webkit-scrollbar-thumb {
  background-color: var(--h3-fill);
  border-radius: 10px;
}
main > section{
  position: relative;
  width: 100%;
  height: 100%;
}
.upsec{
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
#propertiesTab > div:first-child{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: var(--border-bottom) ;
  align-items: center;
}
#propertiesTab > div:first-child h3{
  color: var(--h3-fill);
  font-size: 1.1rem;
}
#propertiesTab > div:first-child button{
  width: 30px;
  height: 5px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--close-button);
}
#properties > div{
  padding: 1rem;
  border-bottom: var(--border-bottom);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.7rem;
}
.two-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-between;
   gap: 1rem;
}
#properties h3{
  font-size: 0.95rem;
  color: var(--h3-fill);
}
.two-grid > div{
  display: flex;
  flex-direction: row;
}
.two-grid input,.color-div input[type="number"],.color-sec input,.thick input{
    outline: none;
  background-color: transparent;
  border: none;
  border-left: 2px solid var(--side-color);
  font-size: inherit;
  padding-left: 0.5rem;
  width: 100%;
  color: var(--input-color);
}
#properties select{
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--input-img);
  color: var(--input-color);
  
}
.color-div,.uniform-div{
  background-color:var(--icon-img);
  color:var(--input-color);
  padding:0.5rem;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  border-radius: 0.3rem;
  display: flex;
  gap: 0.3rem;
  
}
.color-div > div{
  background-color: var(--input-img);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.5rem;
  border-radius: 0.1rem;
}
.color-div > div input[type="number"]{
  min-width: 30px;
  width: 100%;
}
.color-div input[type="color"],.uniform-div input[type="color"]{
  background-color: var(--input-img);
  outline: none;
  border: none;
  padding: 0.2rem;
}
.color-div button{
  width: 20px;
  height: 5px;
  background-color: var(--h3-fill) ;
  border: none;
  border-radius: 0.3rem;
}
.color-sec{
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  gap: 1rem;
}
.color-sec div,.color-sec button{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: inherit;
  text-wrap: nowrap;
  align-items: center;
    background-color: var(--input-img);
  color: var(--input-color);
  border: none;
  border-radius: 0.2rem;
}
.color-sec button{
  gap: 0.5rem;
}
#properties .color-sec input{
  margin-left: 0.5rem;
  padding-right: 0;
}
.color-sec img{
  width: 15px;
  height: auto;
  object-fit: cover;
}
.normalb ,.dashedb{
  height: 35px;
  width: 34px;
  background-color: var(--input-img);
  border-radius: 0.2rem;
  position: relative;
  border: none;
  margin-left: 0.5rem;
}
.normalb::before,.dashedb::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 15px;
}
.normalb::before{
  border: 2px solid var(--input-color);
}
.dashedb::before{
  border: 2px dashed var(--input-color);
}
.canvas{
  width: 100%;
  height: 100%;
  position: relative;
}
.canvas > div{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  z-index: -1;
  border-radius: 0.2rem;
}
#canvas{
  width: 100%;
  height: 100%;
}

.outlinet,.outlinef{
  position: relative;
  border: none;
    background-color: var(--h3-fill);
      height: 5px;
  border-radius: 0.5rem;
}
.outlinet{
  width: 40px;
}
.outlinef,.outlinef::before{
  width: 20px;
}
.outlinef::before{
  content: "";
      background-color: var(--h3-fill);
      height: 5px;
  border-radius: 0.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
}
.shape > div{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.shape button{
  width: 40px;
  height: 40px;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--icon-img);
  padding: 0.5rem;
}
.shape .normal{
  background-color: var(--icon-img);
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem 1.5rem;
  width: auto;
  height: auto;
  color: var(--input-color);
}
.shape img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.two-grid img{
  width: 20px;
  height: auto;
}
footer{
  background-color: var(--side-color);
  padding: 1rem;

}